html { 
	height: 100%;
}

body { 
	height: 100%; 
	margin: 0; 
	padding: 0 
}

h2 {

}

#map_canvas {
	width: 90%;
	height: 100%;
	z-index: 0;
}

#user_controls {
	z-index: 999;
	position:absolute;
	height: 100%;
	right: 0;
	top: 0;
	width: 250px;
	padding: 0 10px;
	background: #eee;
}

#user_controls  p {
	width: 300px;
	word-wrap: normal;
}